.container {max-width: 1060px;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2;}
.navbar-dark .navbar-nav .nav-link { color: rgba(255, 255, 255, 0.55); font-size: larger;}
.bg-dark {--bs-bg-opacity: 60%; background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;}
.navbar-brand {padding-top: 0.3125rem; padding-bottom: 0.3125rem; margin-right: 45%; font-size: 1.85rem; text-decoration: none; white-space: nowrap; }
.nav-link:hover{ color: #e65f78;}
.position-absolute {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3;}
.bg-dark-img { position: relative;}
.overly { position: absolute; left: 0; top: 0; background: #000; width: 100%; height: 100%; z-index: 2; opacity: 0.64;}
.btn-outline-secondary { color: white; border-color: white; }
.btn{ font-weight: 550; padding: 0.775rem 1.75rem; font-size: 1.3rem;}
.display-1{ font-size: calc(1.625rem + 4.5vw); font-weight: 400; line-height: 1.2;}
.custom-text{ color: #e65f78 !important;}
.social-icon{ width: 18px; height: 18px; fill: gray;}
.bi.bi-graph-up{ color: #e65f78; font-size: 40px;}
.bi.bi-palette2{ color: #e65f78; font-size: 40px;}
.bi.bi-cloud-arrow-up { color: #e65f78; font-size: 40px;}
.bi.bi-pencil-square { color: #e65f78; font-size: 40px;}
.bi.bi-wifi{ color: #e65f78; font-size: 40px; }
.bi.bi-telephone-forward{color: #e65f78; font-size: 40px;}
.bi.bi-envelope{color: #e65f78; font-size: 40px;}
.bi.bi-envelope{color: #e65f78; font-size: 40px;}
.bi.bi-geo-alt{color: #e65f78; font-size: 40px;}
.bi.bi-brush{ color: #e65f78; font-size: 40px;}
.btn-custom, .back_top, .services-boxes .services-title-border, .owl-dots button.owl-dot span, .work_menu a.active, .work_menu a:hover { background-color: #e65f78; }
.btn-custom { border: 1px solid;}
.btn:hover { color: white !important;}
.btn {padding: 15px 32px; font-size: 14px; font-weight: 700; transition: all 0.5s; letter-spacing: 0.6px; color: #fff; box-shadow: none !important; text-transform: uppercase; outline: none !important; }
.bold-title { font-weight: 700;}
.carousel-control-icon{color: #e65f78; font-size: 40px;}
.bi.bi-chat-quote-fill{color: #e65f78;font-size: 40px;}
a:link { text-decoration: none;color: #e65f78;}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; color: #e65f78 !important;}
a:active { text-decoration: none; }
.navbar-dark .navbar-brand { color: #fff; font-weight: bold;}
.form-control:focus { color: #212529; background-color: #fff; border-color: #e65f78; outline: 0; box-shadow: 0 0 0 .05rem #e65f78; }
.btn-check:focus + .btn-primary, .btn-primary:focus { color: #fff; background-color: #e65f78; border-color: #e65f78; box-shadow: 0 0 0 .25rem rgba(49,132,253,.5); }
.btn-primary:hover { color: #fff; background-color: #ff5f78; border-color: #ff5f78;}
.btn-primary { color: #fff; background-color: #e65f78; border-color: #e65f78;}
.btn { padding: 7px 14px; font-size: 14px; font-weight: 700; transition: all 0.5s; letter-spacing: 0.6px; color: #fff; box-shadow: none !important; text-transform: uppercase; outline: none !important; }
.bg-black { --bs-bg-opacity: 85%; background-color: rgba(var(--bs-black-rgb),var(--bs-bg-opacity)) !important;}
.bi.bi-facebook { font-size: 30px;}
.bi.bi-facebook:hover { color: #e65f78;}
.bi.bi-twitter { font-size: 30px; }
.bi.bi-twitter:hover { color: #e65f78;}
.bi.bi-linkedin { font-size: 30px; }
.bi.bi-linkedin:hover { color: #e65f78;}
.bi.bi-globe { font-size: 30px; }
.bi.bi-globe:hover { color: #e65f78;}
.btn-outline-secondary:hover { color: #fff; background-color: #e65f78; border-color: #e65f78;}
.btn:hover { color: white !important;}
.row.row-r.container.position-absolute.text-white { margin-left: 0; }
.navbar-toggler:focus { text-decoration: none; box-shadow: 0 0 0 0; }

@media screen and (max-width: 450px) {
    /*.h1-r{ font-size: calc(1rem + 1.5vw); }
    .h6-r{ font-size: 0.8rem; }
    .p-r{ line-height: 1.31em; font-weight: 300; font-size: 0.8em; }*/
    .navbar-brand { font-size: 1rem; }
    .navbar-toggler-icon { width: 1em; height: 1em; }
    .btn { font-size: 12px; }
    .carousel-control-next, .carousel-control-prev { bottom: 77px; }
    .row-r { padding-top: 42px; }
    .nav-tabs > .nav-item > .nav-link { font-size: 10px; padding: 4px 10px; }
    .img-r { width: auto; height: 320px; object-fit: cover; }
    .position-relative.text-center { height: 320px; }
    .bg-dark { --bs-bg-opacity: 100%; background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; }
    .btn { font-size: 12px; }
    .img-r-2 { width: 376px; height: 185px; object-fit: cover; }
    .bi { font-size: 35px !important; }
  }